In [1]:
import pandas as pd

### importando csvs e agrupando

In [2]:
jogos2013 = pd.read_csv('/Users/dgoalmeida/Documents/pos-graduacao/pre-processaoemto-de-dados/aula3/EXERCÍCIOS/02/jogos_2013.csv')
jogos2014 = pd.read_csv('/Users/dgoalmeida/Documents/pos-graduacao/pre-processaoemto-de-dados/aula3/EXERCÍCIOS/02/jogos_2014.csv')
jogos2015 = pd.read_csv('/Users/dgoalmeida/Documents/pos-graduacao/pre-processaoemto-de-dados/aula3/EXERCÍCIOS/02/jogos_2015.csv')
jogos2016 = pd.read_csv('/Users/dgoalmeida/Documents/pos-graduacao/pre-processaoemto-de-dados/aula3/EXERCÍCIOS/02/jogos_2016.csv')
jogos2017 = pd.read_csv('/Users/dgoalmeida/Documents/pos-graduacao/pre-processaoemto-de-dados/aula3/EXERCÍCIOS/02/jogos_2017.csv')

In [51]:
brasileirao = pd.DataFrame()
brasileirao = pd.concat([jogos2013, jogos2014, jogos2015, jogos2016, jogos2017])

In [33]:
brasileirao.head()

,data,dia,horario,rodada,id_arena,id_clube1,id_clube2,id_clube_vencedor,id_estado_clube1,id_estado_clube2,id_estado_vencedor,qtd_gols_clube1,qtd_gols_clube2,desc_arena
0,25/05/2013,Sábado,18:30,1ª Rodada,36,29,18,0,8,21,0,2,2,Fonte Nova
1,07/07/2013,Domingo,16:00,6ª Rodada,36,6,9,9,5,25,25,0,2,Fonte Nova
2,21/07/2013,Domingo,16:00,8ª Rodada,36,29,6,0,8,5,0,0,0,Fonte Nova
3,28/07/2013,Domingo,18:30,9ª Rodada,36,6,16,6,5,9,5,2,1,Fonte Nova
4,31/07/2013,Quarta-feira,21:50,10ª Rodada,36,6,14,6,5,19,5,3,0,Fonte Nova

In [6]:
arenas = pd.read_csv('/Users/dgoalmeida/Documents/pos-graduacao/pre-processaoemto-de-dados/aula3/EXERCÍCIOS/02/arenas.csv')
clubes = pd.read_csv('/Users/dgoalmeida/Documents/pos-graduacao/pre-processaoemto-de-dados/aula3/EXERCÍCIOS/02/clubes.csv')
estados = pd.read_csv('/Users/dgoalmeida/Documents/pos-graduacao/pre-processaoemto-de-dados/aula3/EXERCÍCIOS/02/estados.csv')

In [7]:
arenas.head()

   id_arena        desc_arena
0         0  Não Identificada
1         1        1º de Maio
2         2           Aflitos
3         3    Alfredo Jaconi
4         4    Allianz Parque

In [26]:
brasileirao = brasileirao.merge(arenas)

In [15]:
clubes.head()

   id_clube        desc_clube
0         0  Não Identificado
1         1        América-MG
2         2       Atlético-GO
3         3       Atlético-MG
4         4       Atlético-PR

In [52]:
brasileirao =  brasileirao.merge(clubes, left_on='id_clube1', right_on='id_clube', suffixes=['1','1'])

In [55]:
brasileirao = brasileirao.merge(clubes, left_on='id_clube2', right_on='id_clube', suffixes=['1','2'])

In [57]:
estados

    id_estado sigla_estado          desc_estado
0           0           XX     Não Identificado
1           1           AC                 Acre
2           2           AL              Alagoas
3           3           AP                Amapá
4           4           AM             Amazonas
5           5           BA                Bahia
6           6           CE                Ceará
7           7           DF     Distrito Federal
8           8           ES       Espírito Santo
9           9           GO                Goiás
10         10           MA             Maranhão
11         11           MT          Mato Grosso
12         12           MS   Mato Grosso do Sul
13         13           MG         Minas Gerais
14         14           PA                 Pará
15         15           PB              Paraíba
16         16           PR               Paraná
17         17           PE           Pernambuco
18         18           PI                Piauí
19         19           RJ       Rio de Janeiro
20         20           RN  Rio Grande do Norte
21         21           RS    Rio Grande do Sul
22         22           RO             Rondônia
23         23           RR              Roraima
24         24           SC       Santa Catarina
25         25           SP            São Paulo
26         26           SE              Sergipe
27         27           TO            Tocantins

In [59]:
brasileirao = brasileirao.merge(estados, left_on='id_estado_clube1', right_on='id_estado', suffixes=['1','1'])

In [61]:
brasileirao = brasileirao.merge(estados, left_on='id_estado_clube2', right_on='id_estado', suffixes=['1','2'])

In [63]:
brasileirao = brasileirao.merge(arenas)

In [64]:
brasileirao.head()

,data,dia,horario,rodada,id_arena,id_clube1,id_clube2,id_clube_vencedor,id_estado_clube1,id_estado_clube2,...,desc_clube1,id_clube2,desc_clube2,id_estado1,sigla_estado1,desc_estado1,id_estado2,sigla_estado2,desc_estado2,desc_arena
0,25/05/2013,Sábado,18:30,1ª Rodada,36,29,18,0,8,21,...,Vitória,18,Internacional,8,ES,Espírito Santo,21,RS,Rio Grande do Sul,Fonte Nova
1,05/10/2016,Quarta-feira,19:30,29ª Rodada,36,29,17,17,8,21,...,Vitória,17,Grêmio,8,ES,Espírito Santo,21,RS,Rio Grande do Sul,Fonte Nova
2,19/09/2013,Quinta-feira,21:00,22ª Rodada,36,6,18,6,5,21,...,Bahia,18,Internacional,5,BA,Bahia,21,RS,Rio Grande do Sul,Fonte Nova
3,26/07/2014,Sábado,21h00,12ª Rodada,36,6,18,18,5,21,...,Bahia,18,Internacional,5,BA,Bahia,21,RS,Rio Grande do Sul,Fonte Nova
4,11/08/2013,Domingo,18:30,13ª Rodada,36,6,17,17,5,21,...,Bahia,17,Grêmio,5,BA,Bahia,21,RS,Rio Grande do Sul,Fonte Nova